<meta name="viewport" content="width=device-width, initial-scale=1.0">

<div class="nav">
    <div class="nav__toggle">

        <input type="checkbox" />

        <span></span>
        <span></span>
        <span></span>


        <ul class="nav__toggle__menu">
            <a href="/">
            <li>home</li></a>
            <a href="/login">
            <li>log in</li></a>
        </ul>

    </div>
    <div class="nav__logo">
        <a href="/"><img src="./images/socialnetworklogo.png" alt="social network logo" /></a>
    </div>
    </div>

@code {

}
