@page "/"
@using Frontend.Components
@using Frontend.Layout
@layout Empty

<meta name="viewport" content="width=device-width, initial-scale=1.0">
<PageTitle>Social Network</PageTitle>
<Navigation />

@if(_isAuthenticated)
{
	<Wall />
}
else
{
	<div class="homepage">
		<div class="homepage__big">
			
			<h1>SOCIAL NETWORK</h1>
			<h2>By users. For users.</h2>
		</div>
		<div class="homepage__small">
			<div class="homepage__small__one">
				<div class="homepage__small__one__text">
					<h3>Uncomplicated and secure</h3>
					<p>Social Network is working actively to keep the platform free from hackers, impostors and bots. Our goal is to increase security while still keeping convenience close to hear so that everyone has a pleasant experience.</p>
					<p>With a simplistic design, our goal is for Social Network to be the absolute smoothest social network out there. Where everyone, beginners and veterans alike, feel at home with the simplicity we offer.</p>
				</div>
			</div>
			<div class="homepage__small__two">
				<div class="homepage__small__two__text">
					<h3><a href="Register">Register today!</a></h3>
					<p>Join the world's best social network and connect with your friends and family today!</p>
				</div>
				<img src="./images/networking.png"><img />

			</div>
		</div>
	</div>
}