@page "/"
@using Frontend.Components
@using Frontend.Layout
@layout Empty

<PageTitle>Social Network</PageTitle>
<Navigation />

@if(_isAuthorized.IsSuccessful){
	<Wall />
}
@if(!_isAuthorized.IsSuccessful){
	<h1>Unauthorized</h1>
	<div>
		<div>

		</div>
		<div>
			<div>

			</div>
			<div>

			</div>
		</div>
	</div>
}