@page "/login"
@using SocialNetwork.Classes.Account
@using Frontend.Components
@using Frontend.Layout
@layout Empty

<Navigation />

<div class="content">
    <EditForm Model="@LoginModel">
        <h2 class="content__title">Welcome to the social network!</h2><br/>
        <input class="content__input" type="text" name="username" placeholder="Username" @bind-value="LoginModel.Username" />
        <br/><br />
        <input class="content__input" type="text" name="password" placeholder="Password" @bind-value="LoginModel.Password" />
        <br /><br />
        <button class="content__button" type="submit">Log In</button>
        <br /><br />
        <a class="content__link" href="register">Don't have an account? Register here!</a>
    </EditForm>
</div>

@code {
    public LoginModel LoginModel { get; set; } = new();
}
