@page "/register"
@using Frontend.Components
@using Frontend.Layout
@layout Empty

<Navigation />

<div class="content">
    <EditForm Model="@RegisterModel" OnValidSubmit="@RegisterUser">
        <h2 class="content__title">Register for the social network!</h2>
        <input class="content__input" type="text" name="first-name" placeholder="First Name" @bind-value="RegisterModel.FirstName" />
        <br /><br />
        <input class="content__input" type="text" name="last-name" placeholder="Last Name" @bind-value="RegisterModel.LastName" />
        <br /><br />
        <input class ="content__input" type="text" name="username" placeholder="Username" @bind-value="RegisterModel.Username" />
        <br /><br />
        <input class="content__input" type="text" name="email" placeholder="Email" @bind-value="RegisterModel.Email" />
        <br /><br />
        <input class="content__input" type="password" name="password" placeholder="Password" @bind-value="RegisterModel.Password" />
        <br /><br />
        <input class="content__input" type="password" name="repeat-password" placeholder="Repeat password" @bind-value="RegisterModel.RepeatPassword" />
        <br /><br />
        <label for="Agree">By ticking, you are confirming that you have read, understood and agreed to our <a class="content__link" href="https://youtu.be/dQw4w9WgXcQ">terms of service</a></label>
        <br /><br />
        <input class="content__checkbox" type="checkbox" name="Agree" required />      
        <br /><br />
        <button class="content__button" type="submit">Register</button>
        <br /><br />
        <a class="content__link" href="login">Already have an account? Log in here!</a>
    </EditForm>
</div>
