@page "/search/{UserSearch}"
@using Frontend.Components
@using Frontend.Layout
@layout Empty

<Navigation />

@if (!IsLoading)
{
    <div class="search-content">
        <div class="search-content__result">
            <h2 class="search">Your search gave @Users.Count results.</h2>
        </div>

        <div class="search-content__list">
            @foreach (var user in Users)
            {
                <a class="search-content__list__link" href="/profile/@user.Username">
                    <div class="search-content__list__link__div">
                        <h3>@user.Username</h3>
                        <p>@user.FirstName @user.LastName</p>
                        <p class="search-content__list__link__div__arrow">→</p>

                    </div>
                </a>
            }
        </div>
            
    </div>
}
else
{
    <div class="lds-roller"><div></div><div></div><div></div><div></div><div></div><div></div><div></div><div></div></div>
}