.messages-wrapper {
    display: flex;
    justify-content: center;
    text-align: center;
}

.current-message {
    width: auto;
    height: 100%;
    vertical-align: top;
    margin-right: 5%;
    margin-top: 1%;
    width: 35%;


    &__content {
        border: solid 1px lightgrey;
        border-radius: 8px;
        height: 553px;
        background-color: white;
    }

    &__content__text {
        border: solid 1px lightgrey;
        width: 90%;
        margin: auto;
        border-radius: 8px;
    }
}

.messages {
    width: 35%;
    margin-top: 1%;
    margin-left: 5%;
    overflow-x: hidden;
    overflow-y: auto;
    height: 643px;
}

.one-message {
    margin: 1%;
    border: solid 1px lightgrey;
    border-radius: 8px;
    background-color: white;
}

.message-button {
    color: #ffffff;
    display: block;
    margin: auto;
    border: 2px solid #ffffff;
    background-color: #1877f2;
    padding: 1% 1%;
    width: 35%;
    border-radius: 6px;
    font-size: 20px;
    line-height: 36px;
    margin-bottom: 1%;



    &:hover {
        background-color: #ffffff;
        border: 2px solid #1877f2;
        color: #1877f2;
    }
}

.message-title {
    text-align: center;
}
