.profile-dialog {
    position: absolute;
    padding: 15px 15px;
    height: fit-content;
    width: fit-content;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    background-color: #ffffff;
    border: 1px solid black;
    border-radius: 4px;

    &__text {
        width: 400px;
        height: 150px;
        resize: none;
    }

    &__button {
        color: #ffffff;
        display: block;
        margin: auto;
        border: 2px solid #ffffff;
        background-color: #1877f2;
        padding: 2% 1%;
        width: 100%;
        border-radius: 6px;
        font-size: 20px;
        line-height: 36px;
    }
}

.profile-content {
    margin: auto;
    max-height: 100vh;
    width: 80vw;
    border-radius: 8px;

    &__info {
        height: 50%;
        width: 60%;
        background: #ffffff;
        padding: 3%;
        border-radius: 8px;
        margin: auto;
        text-align: center;
        border: 1px solid lightgrey;
    }

    &__text {
        border: 1px solid #dddfe2;
        border-radius: 6px;
        font-size: 17px;
        width: 40%;
        height: 10vh;
        padding: 6px;
        outline-color: #1877f2;
        resize: none;
        display: block;
        margin: 0 auto;
    }

    &__submit {
        color: #ffffff;
        display: block;
        margin: auto;
        border: 2px solid #ffffff;
        background-color: #1877f2;
        padding: 20px;
        width: 40%;
        border-radius: 6px;
        font-size: 20px;
        line-height: 5px;
        margin-top: 10px;

        &:hover {
            background-color: #ffffff;
            border: 2px solid #1877f2;
            color: #1877f2;
        }
    }

    &__posts {
        margin-top: 4vh;
        width: 50%;
        margin: auto;
        margin-top: 5vh;

        &__post {
            margin-bottom: 15px;
            background: #ffffff;
            border: 1px solid lightgrey;
            padding: 15px;
            border-radius: 8px;


            & a {
                text-decoration: none;
                color: #1877f2;
                cursor: pointer;

                &:hover {
                    color: #1877f2;
                    text-decoration: underline;
                }
            }

            & h3 {
                margin-left: 10%;
            }

            & p {
                margin-top: 15px;
                background: #f0f2f5;
                width: 80%;
                margin: auto;
                padding: 15px;
                border-radius: 8px;
            }
        }
    }
}
