
.message-wrapper {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 1000;
    display: flex;
    background: rgba(0, 0, 0, 0.7);

    &__profile-dialog {
        position: absolute;
        height: fit-content;
        width: fit-content;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
        background-color: #ffffff;
        border: 3px solid #1877f2;
        border-radius: 4px;

        &__close {
            border: none;
            background: #ffffff;
            font-size: 30px;
            float: right;
            color: #1877f2;
            margin-right: 15px;
            margin-top: 5px;

            &:hover {
                color: #D22B2B;
            }
        }

        &__text {
            margin: 15px;
            width: 400px;
            height: 150px;
            resize: none;
        }

        &__button {
            color: #ffffff;
            border: 2px solid #ffffff;
            background-color: #1877f2;
            padding: 20px;
            width: 94%;
            border-radius: 6px;
            font-size: 20px;
            line-height: 5px;
            margin-bottom: 3%;
            margin-right: 3%;
            margin-left: 3%;

            &:hover {
                background-color: #ffffff;
                border: 2px solid #1877f2;
                color: #1877f2;
            }
        }
    }
}

.followings-wrapper {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 1000;
    display: flex;
    background: rgba(0, 0, 0, 0.7);

    &__profile-dialog {
        position: absolute;
        padding: 1%;
        height: fit-content;
        width: 20vw;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
        background-color: #ffffff;
        border: 3px solid #1877f2;
        border-radius: 4px;

        &__close {
            border: none;
            background: #ffffff;
            font-size: 30px;
            float: right;
            color: #1877f2;
            margin-right: -3%;
            margin-top: -4%;

            &:hover {
                color: #D22B2B;
            }
        }

        &__text {
            margin: 15px;
            width: 400px;
            height: 150px;
            resize: none;
        }

        & a {
            text-decoration: none;
            color: #1877f2;
            cursor: pointer;

            &:hover {
                color: #1877f2;
                text-decoration: underline;
            }
        }
    }
}

.profile-content {
    margin: auto;
    max-height: 100vh;
    width: 80vw;
    border-radius: 8px;

    &__info {
        height: 50%;
        width: 60%;
        background: #ffffff;
        padding: 3%;
        border-radius: 8px;
        margin: auto;
        text-align: center;
        border: 1px solid lightgrey;


        &__buttons {
            width: 100%;
            display: flex;
            justify-content: center;

            &__follow-user {
                display: inline-block;
                color: #ffffff;
                border: 2px solid #ffffff;
                background-color: #1877f2;
                padding: 20px;
                width: 20%;
                border-radius: 6px;
                font-size: 20px;
                line-height: 5px;
                margin-top: 10px;

                &:hover {
                    background-color: #ffffff;
                    border: 2px solid #1877f2;
                    color: #1877f2;
                }
            }

            &__unfollow-user {
                display: inline-block;
                color: #1877f2;
                border: 2px solid #1877f2;
                background-color: #ffffff;
                padding: 20px;
                width: 20%;
                border-radius: 6px;
                font-size: 20px;
                line-height: 5px;
                margin-top: 10px;

                &:hover {
                    background-color: #D22B2B;
                    border: 2px solid #D22B2B;
                    color: #ffffff;
                }
            }

            &__send-message {
                display: inline-block;
                color: #ffffff;
                display: inline-block;
                border: 2px solid #ffffff;
                background-color: #1877f2;
                padding: 20px;
                width: 20%;
                border-radius: 6px;
                font-size: 20px;
                line-height: 5px;
                margin-top: 10px;
                margin-left: 15px;

                &:hover {
                    background-color: #ffffff;
                    border: 2px solid #1877f2;
                    color: #1877f2;
                }
            }
        }

        &__link {
            text-decoration: none;
            color: #1877f2;
            cursor: pointer;

            &:hover {
                color: #1877f2;
                text-decoration: underline;
            }
        }
    }

    &__text {
        border: 1px solid #dddfe2;
        border-radius: 6px;
        font-size: 17px;
        width: 40%;
        height: 10vh;
        padding: 6px;
        outline-color: #1877f2;
        resize: none;
        display: block;
        margin: 0 auto;
    }

    &__submit {
        color: #ffffff;
        display: block;
        margin: auto;
        border: 2px solid #ffffff;
        background-color: #1877f2;
        padding: 20px;
        width: 40%;
        border-radius: 6px;
        font-size: 20px;
        line-height: 5px;
        margin-top: 10px;

        &:hover {
            background-color: #ffffff;
            border: 2px solid #1877f2;
            color: #1877f2;
        }
    }

    &__posts {
        margin-top: 4vh;
        width: 50%;
        margin: auto;
        margin-top: 5vh;

        &__post {
            margin-bottom: 15px;
            background: #ffffff;
            border: 1px solid lightgrey;
            padding: 15px;
            border-radius: 8px;


            & a {
                text-decoration: none;
                color: #1877f2;
                cursor: pointer;

                &:hover {
                    color: #1877f2;
                    text-decoration: underline;
                }
            }

            & h3 {
                margin-left: 10%;
            }

            & p {
                margin-top: 15px;
                background: #f0f2f5;
                width: 80%;
                margin: auto;
                padding: 15px;
                border-radius: 8px;
            }
        }
    }
}
